
td{
  width: 30px;
  height: 30px;
  display: table-cell;
}
tr:nth-child(2n)>td:nth-child(2n){
  background: blue;
}
tr:nth-child(2n+1)>td:nth-child(2n){
  background: yellow;
}
tr:nth-child(2n)>td:nth-child(2n+1){
  background: yellow;
}
tr:nth-child(2n+1)>td:nth-child(2n+1){
  background: blue;
}
/* div.row{
  	display: table-row;
} */
#player1Info{
  float: left;
}
#player2Info{
  float: right;
}
.active-Black{
  background: black !important;;
}
.active-White{
  background: grey !important;;
}