
td{
  width: 45px;
  height: 45px;
  display: table-cell;
}
tr:nth-child(2n)>td:nth-child(2n){
  background: green;
}
tr:nth-child(2n+1)>td:nth-child(2n){
  background: greenyellow;
}
tr:nth-child(2n)>td:nth-child(2n+1){
  background: greenyellow;
}
tr:nth-child(2n+1)>td:nth-child(2n+1){
  background: green;
}
/* div.row{
  	display: table-row;
} */
#player1Info{
  float: left;
}
#player2Info{
  float: right;
}
.active-Black:after{
  content: url('https://upload.wikimedia.org/wikipedia/commons/a/af/Reversi_XXt45.svg');
}
.active-White:after{
  content: url('https://upload.wikimedia.org/wikipedia/commons/f/f9/Reversi_OOt45.svg');
}